:root {
  --buttonColor: #378ad3;
  --fontColor: #ffffff;
  --position: 150px;
  --accentColor: rgb(255, 255, 255);
  --mainColor: #dc3545;
  --links: #1c1b1b;
  --whiteFont: #000000;
  --footerSpacing: 750px;
  --border: 10px;
  --hover: #0076dd;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--accentColor);
  /* width: 100vw !important; */
}

.nav {
  /* padding: none; */
  /* margin: none; */
  background-color: var(--mainColor);
  /* display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; */
}

a {
  color: var(--whiteFont);
}

a:hover {
  color: var(--hover);
}

li {
  list-style-type: none;
  color: var(--whiteFont);
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: var(--mainColor);
}

.footer {
  background-color: #2d2d2d;
  /* height: 15vh; */
  padding: 20px;
  color: var(--whiteFont);
}

.banner {
  margin: auto;
  width: 734px;
  height: 302px;
  background-color: rgb(221, 221, 221);
  border-radius: var(--border);
  display: flex;
}

.categories a,
.link {
  color: var(--links);
}
.categories a:hover {
  color: var(--hover);
}

.productHome {
  background-color: var(--accentColor);
}

.loading {
  height: 100vh;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* width: 1000px; */
  gap: 20px;
  flex-wrap: nowrap;
}

.shopContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* width: 1000px; */
  gap: 70px;
  flex-wrap: nowrap;
  /* width: 80%; */
}

.trendingstock {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 30px 30px;
}

.eachStock {
  background-color: rgb(230, 230, 230) !important;
  border-radius: 10px;
}

.searchbox {
  border-radius: var(--border);
}

.logo {
  border-radius: 50%;
}

.carousel {
  width: 80vw;
  /* border: 1px solid black; */
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  overflow: scroll;
}

.productData {
  padding: 20px;
  margin: auto;
}
.desc {
  width: 75%;
}

.gap {
  gap: 50px;
}
.buybtn {
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 6px 15px;
  outline: none;
  /* border: none; */
  margin-bottom: 10px;
}
.buybtn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}
